.fixed-column{
    position: fixed;
    top: 0;
  

}
.name-text{
    font-size: 3rem;
}
.dark{
    background-color: #353535;
    color: aliceblue;

}
.light{

    background-color: aliceblue;
    color: #353535;
}


@media (max-width: 768px) {
    .fixed-column {
        position:relative;
        top: 0;
        height: auto;
        margin-left:0px !important;
        width: 100% !important;
        height: 50px;
       
       
        
    }
    .name-text{
        font-size: 2.5rem;
    }
}