
.dark{
    background-color: rgb(0, 0, 0);
    color: aliceblue;

}
.light{
    background-color: aliceblue;
    color: black;
}
@media(max-width: 768px) {
    .div-content{
        justify-content: center !important;
    }
}